/* Modal */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  z-index: 80;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background-color: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  height: 100vh;
  height: 500px;
  width: 40%;

  /* Cambia los valores  👇 para experimentar*/
}
.datePicker {
  width: 100%;
  min-width: 0px;
  /* outline: 2px solid transparent; */
  outline-offset: 2px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: 0px solid #ccc !important;
  border-radius: 5px;
  border: 1px solid rgb(223, 221, 221) !important;
}
.datePicker > * {
  padding: 8px;
  display: flex;
  flex-shrink: 0;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  border-radius: 5px;
  border: 1px solid #fff;
}
.errorDatePicker {
  border-bottom: 1px #e53e3e !important;
  border-color: 2px #e53e3e !important;
  box-shadow: 0 0 0 2px #e53e3e !important;
}
.focusDataPicker {
  border-color: 2px #3182ce !important;
  box-shadow: 0 0 0 2px #3182ce !important;
}
.datapikerEdit {
  border: 1px solid rgb(223, 221, 221) !important;
}
.datePicker:disabled {
}

@media only screen and (max-width: 880px) {
  /* For mobile phones: */
  input, optgroup{
    font-size: 15px !important;
  }
  .datePicker > * {
    font-size: 15px !important;
  }
}
